@font-face {
  font-family: 'kurrentmusic';
  src:  url('fonts/kurrentmusic.eot?lwgt4o');
  src:  url('fonts/kurrentmusic.eot?lwgt4o#iefix') format('embedded-opentype'),
    url('fonts/kurrentmusic.ttf?lwgt4o') format('truetype'),
    url('fonts/kurrentmusic.woff?lwgt4o') format('woff'),
    url('fonts/kurrentmusic.svg?lwgt4o#kurrentmusic') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="kmi-"], [class*=" kmi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kurrentmusic' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kmi-km-pause:before {
  content: "\e901";
}
.kmi-km-play:before {
  content: "\e902";
}
.kmi-schedule:before {
  content: "\e8b5";
}
.kmi-add:before {
  content: "\e145";
}
.kmi-add_box:before {
  content: "\e146";
}
.kmi-add_circle:before {
  content: "\e147";
}
.kmi-control_point:before {
  content: "\e3ba";
}
.kmi-queue:before {
  content: "\e03c";
}
.kmi-add_to_queue:before {
  content: "\e05c";
}
.kmi-apps:before {
  content: "\e5c3";
}
.kmi-arrow_back:before {
  content: "\e5c4";
}
.kmi-arrow_downward:before {
  content: "\e5db";
}
.kmi-arrow_forward:before {
  content: "\e5c8";
}
.kmi-arrow_upward:before {
  content: "\e5d8";
}
.kmi-autorenew:before {
  content: "\e863";
}
.kmi-turned_in:before {
  content: "\e8e6";
}
.kmi-turned_in_not:before {
  content: "\e8e7";
}
.kmi-border_all:before {
  content: "\e228";
}
.kmi-brush:before {
  content: "\e3ae";
}
.kmi-build:before {
  content: "\e869";
}
.kmi-cached:before {
  content: "\e86a";
}
.kmi-navigate_before:before {
  content: "\e408";
}
.kmi-navigate_next:before {
  content: "\e409";
}
.kmi-close2:before {
  content: "\e5cd";
}
.kmi-dashboard:before {
  content: "\e871";
}
.kmi-markunread:before {
  content: "\e159";
}
.kmi-expand_less:before {
  content: "\e5ce";
}
.kmi-expand_more:before {
  content: "\e5cf";
}
.kmi-fast_forward:before {
  content: "\e01f";
}
.kmi-fast_rewind:before {
  content: "\e020";
}
.kmi-favorite:before {
  content: "\e87d";
}
.kmi-favorite_border:before {
  content: "\e87e";
}
.kmi-get_app:before {
  content: "\e884";
}
.kmi-file_upload:before {
  content: "\e2c6";
}
.kmi-format_list_bulleted:before {
  content: "\e241";
}
.kmi-format_list_numbered:before {
  content: "\e242";
}
.kmi-people:before {
  content: "\e7fb";
}
.kmi-headset:before {
  content: "\e310";
}
.kmi-keyboard_arrow_down:before {
  content: "\e313";
}
.kmi-keyboard_arrow_left:before {
  content: "\e314";
}
.kmi-keyboard_arrow_right:before {
  content: "\e315";
}
.kmi-keyboard_arrow_up:before {
  content: "\e316";
}
.kmi-library_books:before {
  content: "\e02f";
}
.kmi-list:before {
  content: "\e896";
}
.kmi-theaters:before {
  content: "\e8da";
}
.kmi-local_offer:before {
  content: "\e54e";
}
.kmi-sync:before {
  content: "\e627";
}
.kmi-more_horiz:before {
  content: "\e5d3";
}
.kmi-more_vert:before {
  content: "\e5d4";
}
.kmi-music_video:before {
  content: "\e063";
}
.kmi-pause2:before {
  content: "\e034";
}
.kmi-play_circle_outline:before {
  content: "\e039";
}
.kmi-public:before {
  content: "\e80b";
}
.kmi-refresh2:before {
  content: "\e5d5";
}
.kmi-sentiment_dissatisfied:before {
  content: "\e811";
}
.kmi-sentiment_neutral:before {
  content: "\e812";
}
.kmi-sentiment_satisfied:before {
  content: "\e813";
}
.kmi-sentiment_very_dissatisfied:before {
  content: "\e814";
}
.kmi-sentiment_very_satisfied:before {
  content: "\e815";
}
.kmi-skip_next:before {
  content: "\e044";
}
.kmi-skip_previous:before {
  content: "\e045";
}
.kmi-slideshow:before {
  content: "\e41b";
}
.kmi-storage:before {
  content: "\e1db";
}
.kmi-subscriptions:before {
  content: "\e064";
}
.kmi-thumb_down:before {
  content: "\e8db";
}
.kmi-thumb_up:before {
  content: "\e8dc";
}
.kmi-tune:before {
  content: "\e429";
}
.kmi-view_agenda:before {
  content: "\e8e9";
}
.kmi-view_array:before {
  content: "\e8ea";
}
.kmi-view_carousel:before {
  content: "\e8eb";
}
.kmi-view_column:before {
  content: "\e8ec";
}
.kmi-view_comfy:before {
  content: "\e42a";
}
.kmi-view_compact:before {
  content: "\e42b";
}
.kmi-view_day:before {
  content: "\e8ed";
}
.kmi-view_headline:before {
  content: "\e8ee";
}
.kmi-view_list:before {
  content: "\e8ef";
}
.kmi-view_module:before {
  content: "\e8f0";
}
.kmi-view_quilt:before {
  content: "\e8f1";
}
.kmi-view_stream:before {
  content: "\e8f2";
}
.kmi-view_week:before {
  content: "\e8f3";
}
.kmi-visibility_off:before {
  content: "\e8f5";
}
.kmi-volume_down:before {
  content: "\e04d";
}
.kmi-volume_mute:before {
  content: "\e04e";
}
.kmi-volume_off:before {
  content: "\e04f";
}
.kmi-volume_up:before {
  content: "\e050";
}
.kmi-zoom_in:before {
  content: "\e8ff";
}
.kmi-zoom_out:before {
  content: "\e900";
}
.kmi-music:before {
  content: "\f001";
}
.kmi-search:before {
  content: "\f002";
}
.kmi-envelope-o:before {
  content: "\f003";
}
.kmi-heart:before {
  content: "\f004";
}
.kmi-star:before {
  content: "\f005";
}
.kmi-star-o:before {
  content: "\f006";
}
.kmi-film:before {
  content: "\f008";
}
.kmi-th-large:before {
  content: "\f009";
}
.kmi-th:before {
  content: "\f00a";
}
.kmi-th-list:before {
  content: "\f00b";
}
.kmi-check:before {
  content: "\f00c";
}
.kmi-close:before {
  content: "\f00d";
}
.kmi-remove:before {
  content: "\f00d";
}
.kmi-times:before {
  content: "\f00d";
}
.kmi-search-plus:before {
  content: "\f00e";
}
.kmi-search-minus:before {
  content: "\f010";
}
.kmi-cog:before {
  content: "\f013";
}
.kmi-gear:before {
  content: "\f013";
}
.kmi-trash-o:before {
  content: "\f014";
}
.kmi-home:before {
  content: "\f015";
}
.kmi-file-o:before {
  content: "\f016";
}
.kmi-clock-o:before {
  content: "\f017";
}
.kmi-arrow-circle-o-down:before {
  content: "\f01a";
}
.kmi-arrow-circle-o-up:before {
  content: "\f01b";
}
.kmi-play-circle-o:before {
  content: "\f01d";
}
.kmi-repeat:before {
  content: "\f01e";
}
.kmi-rotate-right:before {
  content: "\f01e";
}
.kmi-refresh:before {
  content: "\f021";
}
.kmi-list-alt:before {
  content: "\f022";
}
.kmi-headphones:before {
  content: "\f025";
}
.kmi-volume-off:before {
  content: "\f026";
}
.kmi-volume-down:before {
  content: "\f027";
}
.kmi-volume-up:before {
  content: "\f028";
}
.kmi-bookmark:before {
  content: "\f02e";
}
.kmi-pencil:before {
  content: "\f040";
}
.kmi-edit:before {
  content: "\f044";
}
.kmi-pencil-square-o:before {
  content: "\f044";
}
.kmi-share-square-o:before {
  content: "\f045";
}
.kmi-check-square-o:before {
  content: "\f046";
}
.kmi-step-backward:before {
  content: "\f048";
}
.kmi-fast-backward:before {
  content: "\f049";
}
.kmi-backward:before {
  content: "\f04a";
}
.kmi-play:before {
  content: "\f04b";
}
.kmi-pause:before {
  content: "\f04c";
}
.kmi-stop:before {
  content: "\f04d";
}
.kmi-forward:before {
  content: "\f04e";
}
.kmi-fast-forward:before {
  content: "\f050";
}
.kmi-step-forward:before {
  content: "\f051";
}
.kmi-chevron-left:before {
  content: "\f053";
}
.kmi-chevron-right:before {
  content: "\f054";
}
.kmi-plus-circle:before {
  content: "\f055";
}
.kmi-minus-circle:before {
  content: "\f056";
}
.kmi-times-circle:before {
  content: "\f057";
}
.kmi-check-circle:before {
  content: "\f058";
}
.kmi-question-circle:before {
  content: "\f059";
}
.kmi-info-circle:before {
  content: "\f05a";
}
.kmi-times-circle-o:before {
  content: "\f05c";
}
.kmi-check-circle-o:before {
  content: "\f05d";
}
.kmi-mail-forward:before {
  content: "\f064";
}
.kmi-share:before {
  content: "\f064";
}
.kmi-expand:before {
  content: "\f065";
}
.kmi-compress:before {
  content: "\f066";
}
.kmi-plus:before {
  content: "\f067";
}
.kmi-minus:before {
  content: "\f068";
}
.kmi-exclamation-circle:before {
  content: "\f06a";
}
.kmi-eye:before {
  content: "\f06e";
}
.kmi-eye-slash:before {
  content: "\f070";
}
.kmi-calendar:before {
  content: "\f073";
}
.kmi-chevron-up:before {
  content: "\f077";
}
.kmi-chevron-down:before {
  content: "\f078";
}
.kmi-twitter-square:before {
  content: "\f081";
}
.kmi-facebook-square:before {
  content: "\f082";
}
.kmi-cogs:before {
  content: "\f085";
}
.kmi-gears:before {
  content: "\f085";
}
.kmi-comments:before {
  content: "\f086";
}
.kmi-thumbs-o-up:before {
  content: "\f087";
}
.kmi-thumbs-o-down:before {
  content: "\f088";
}
.kmi-heart-o:before {
  content: "\f08a";
}
.kmi-external-link:before {
  content: "\f08e";
}
.kmi-bookmark-o:before {
  content: "\f097";
}
.kmi-twitter:before {
  content: "\f099";
}
.kmi-facebook:before {
  content: "\f09a";
}
.kmi-facebook-f:before {
  content: "\f09a";
}
.kmi-globe:before {
  content: "\f0ac";
}
.kmi-tasks:before {
  content: "\f0ae";
}
.kmi-group:before {
  content: "\f0c0";
}
.kmi-users:before {
  content: "\f0c0";
}
.kmi-copy:before {
  content: "\f0c5";
}
.kmi-files-o:before {
  content: "\f0c5";
}
.kmi-bars:before {
  content: "\f0c9";
}
.kmi-navicon:before {
  content: "\f0c9";
}
.kmi-reorder:before {
  content: "\f0c9";
}
.kmi-list-ul:before {
  content: "\f0ca";
}
.kmi-list-ol:before {
  content: "\f0cb";
}
.kmi-pinterest:before {
  content: "\f0d2";
}
.kmi-pinterest-square:before {
  content: "\f0d3";
}
.kmi-google-plus-square:before {
  content: "\f0d4";
}
.kmi-google-plus:before {
  content: "\f0d5";
}
.kmi-caret-down:before {
  content: "\f0d7";
}
.kmi-caret-up:before {
  content: "\f0d8";
}
.kmi-caret-left:before {
  content: "\f0d9";
}
.kmi-caret-right:before {
  content: "\f0da";
}
.kmi-columns:before {
  content: "\f0db";
}
.kmi-sort:before {
  content: "\f0dc";
}
.kmi-unsorted:before {
  content: "\f0dc";
}
.kmi-sort-desc:before {
  content: "\f0dd";
}
.kmi-sort-down:before {
  content: "\f0dd";
}
.kmi-sort-asc:before {
  content: "\f0de";
}
.kmi-sort-up:before {
  content: "\f0de";
}
.kmi-envelope:before {
  content: "\f0e0";
}
.kmi-rotate-left:before {
  content: "\f0e2";
}
.kmi-undo:before {
  content: "\f0e2";
}
.kmi-comment-o:before {
  content: "\f0e5";
}
.kmi-comments-o:before {
  content: "\f0e6";
}
.kmi-file-text-o:before {
  content: "\f0f6";
}
.kmi-plus-square:before {
  content: "\f0fe";
}
.kmi-angle-double-left:before {
  content: "\f100";
}
.kmi-angle-double-right:before {
  content: "\f101";
}
.kmi-angle-double-up:before {
  content: "\f102";
}
.kmi-angle-double-down:before {
  content: "\f103";
}
.kmi-angle-left:before {
  content: "\f104";
}
.kmi-angle-right:before {
  content: "\f105";
}
.kmi-angle-up:before {
  content: "\f106";
}
.kmi-angle-down:before {
  content: "\f107";
}
.kmi-spinner:before {
  content: "\f110";
}
.kmi-smile-o:before {
  content: "\f118";
}
.kmi-frown-o:before {
  content: "\f119";
}
.kmi-meh-o:before {
  content: "\f11a";
}
.kmi-question:before {
  content: "\f128";
}
.kmi-info:before {
  content: "\f129";
}
.kmi-microphone:before {
  content: "\f130";
}
.kmi-microphone-slash:before {
  content: "\f131";
}
.kmi-chevron-circle-left:before {
  content: "\f137";
}
.kmi-chevron-circle-right:before {
  content: "\f138";
}
.kmi-chevron-circle-up:before {
  content: "\f139";
}
.kmi-chevron-circle-down:before {
  content: "\f13a";
}
.kmi-ellipsis-h:before {
  content: "\f141";
}
.kmi-ellipsis-v:before {
  content: "\f142";
}
.kmi-play-circle:before {
  content: "\f144";
}
.kmi-minus-square:before {
  content: "\f146";
}
.kmi-minus-square-o:before {
  content: "\f147";
}
.kmi-caret-square-o-down:before {
  content: "\f150";
}
.kmi-toggle-down:before {
  content: "\f150";
}
.kmi-caret-square-o-up:before {
  content: "\f151";
}
.kmi-toggle-up:before {
  content: "\f151";
}
.kmi-caret-square-o-right:before {
  content: "\f152";
}
.kmi-toggle-right:before {
  content: "\f152";
}
.kmi-file:before {
  content: "\f15b";
}
.kmi-file-text:before {
  content: "\f15c";
}
.kmi-thumbs-up:before {
  content: "\f164";
}
.kmi-thumbs-down:before {
  content: "\f165";
}
.kmi-youtube:before {
  content: "\f167";
}
.kmi-instagram:before {
  content: "\f16d";
}
.kmi-caret-square-o-left:before {
  content: "\f191";
}
.kmi-toggle-left:before {
  content: "\f191";
}
.kmi-plus-square-o:before {
  content: "\f196";
}
.kmi-circle-o-notch:before {
  content: "\f1ce";
}
.kmi-paper-plane:before {
  content: "\f1d8";
}
.kmi-send:before {
  content: "\f1d8";
}
.kmi-paper-plane-o:before {
  content: "\f1d9";
}
.kmi-send-o:before {
  content: "\f1d9";
}
.kmi-sliders:before {
  content: "\f1de";
}
.kmi-toggle-off:before {
  content: "\f204";
}
.kmi-toggle-on:before {
  content: "\f205";
}
.kmi-facebook-official:before {
  content: "\f230";
}
.kmi-pinterest-p:before {
  content: "\f231";
}
.kmi-wikipedia-w:before {
  content: "\f266";
}
.kmi-commenting:before {
  content: "\f27a";
}
.kmi-commenting-o:before {
  content: "\f27b";
}
.kmi-pause-circle:before {
  content: "\f28b";
}
.kmi-pause-circle-o:before {
  content: "\f28c";
}
.kmi-stop-circle:before {
  content: "\f28d";
}
.kmi-stop-circle-o:before {
  content: "\f28e";
}

